<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="robots" content="none">
  <meta name="googlebot" content="none">
  <meta name="apple-mobile-web-app-title" content="<%= htmlWebpackPlugin.options.title %>">
  <meta name="application-name" content="<%= htmlWebpackPlugin.options.title %>">
  <title><%= htmlWebpackPlugin.options.title %></title>
  <!--
    <link rel="manifest" href="/manifest.json">
    <link rel="icon" type="image/png" href="/favicon-152x152.png" sizes="152x152">
    <link rel="icon" type="image/png" href="/favicon-48x48.png" sizes="48x48">
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
    <link rel="shortcut icon" href="/favicon.ico">
  -->
</head>
<body>
  <% if (htmlWebpackPlugin.options.production) { %>
  <%= htmlWebpackPlugin.files.webpackManifest %>
  <% } %>
</body>
</html>